@model IEnumerable<TravelExperts.Repository.Domain.Bookings>

@{
    ViewData["Title"] = "RecordTest";
}

<h1>RecordTest</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var booking in Model)
{
    <h3>Booking number @Html.DisplayFor(x => booking.BookingId)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelerCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Package)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => booking.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.BookingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.TravelerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.Customer.CustAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.Package.PkgName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.TripType.TripTypeId)
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Booking Details for booking number @Html.DisplayFor(x => booking.BookingId)</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ItineraryNo
                </th>
                <th>
                    TripStart
                </th>
                <th>
                    TripEnd
                </th>
                <th>
                    Description
                </th>
                <th>
                    Destination
                </th>
                <th>
                    BasePrice
                </th>
                <th>
                    AgencyCommission
                </th>
                <th>
                    Booking
                </th>
                <th>
                    Class
                </th>
                <th>
                    Fee
                </th>
                <th>
                    ProductSupplier
                </th>
                <th>
                    Region
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @foreach (var bookingDetail in booking.BookingDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.ItineraryNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.TripStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.TripEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.BasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.AgencyCommission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.Booking.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.Class.ClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.Fee.FeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.ProductSupplier.ProductSupplierId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookingDetail.Region.RegionName)
                </td>
            </tr>
            }
    </tbody>
</table>
<hr/>
<br/>
}

