@model IEnumerable<TravelExpertsWebApp.Models.BookingModel>


@{
    ViewData["Title"] = "RecordTest";
}
@{
    Decimal? TotalPrice = 0;

    @foreach (var bookings in Model)
    {
        TotalPrice += bookings.BasePrice;
    }
    string displayPrice = Convert.ToDecimal(TotalPrice).ToString("c");
    
}



<h1>Customer Bookings</h1>


@foreach (var booking in Model)
{
    <h2>Booking number @Html.DisplayFor(x => booking.BookingId)</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelerCount)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Customer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Package)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripType)
                    </th>*@
                <th>
                    Total Booking Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @(Html.DisplayFor(modelItem => booking.BookingDateDisplay)) @*Using display string property*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.BookingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.TravelerCount)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => booking.Customer.CustAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.Package.PkgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => booking.TripType.TripTypeId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => booking.BasePriceDisplay)
                </td>
            </tr>
        </tbody>
        <br />
    </table>
    <h3>Booking Details  @*@Html.DisplayFor(x => booking.BookingId)*@</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Itinerary Number
                </th>
                <th>
                    Trip Start Date
                </th>
                <th>
                    Trip End Date
                </th>
                <th>
                    Description
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Base Price
                </th>
                @*<th>
                        AgencyCommission
                    </th>*@
                @*<th>
                        Booking
                    </th>*@
                @*<th>
                        Class
                    </th>*@
                <th>
                    Fee
                </th>
                @*<th>
                        ProductSupplier
                    </th>
                    <th>
                        Region
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var bookingDetail in booking.BookingDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.ItineraryNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.TripStartDisplay) @*Using display string property*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.TripEndDisplay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.BasePriceDisplay)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => bookingDetail.AgencyCommission)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => bookingDetail.Booking.BookingId)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => bookingDetail.Class.ClassId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => bookingDetail.Fee.FeeAmtDisplay)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => bookingDetail.ProductSupplier.ProductSupplierId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookingDetail.Region.RegionName)
                        </td>*@
                </tr>

               

            }
        </tbody>
    </table>
    
    <hr />
    <br />
}
<h3> Total Booking Price: @displayPrice</h3>

